#header {
  background-color: blanchedalmond;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.rainbowText {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bigText {
  font-size: 3rem; /* 1rem is 16px */
}


.flipRainbow {
    display: inline-block;
    transform: rotate(90deg);
}